body{
  margin:0;
  background-image:  url(https://images.ctfassets.net/plii0v5gbc4s/2Z8bmd2uAUpvzZmdEzeeOj/8652c8b7d5c782d8e0311520ea1a65a0/machine-learning-ai-b2b.gif)
}

logo{
  margin-right: 190%;
  margin-left: 0%;
  display: block;  
  position: absolute;
  left: 15px bottom 0px;
  background-size: cover;
  background-position: 4PX 401PX;
  background-image: url(/img/logo.png);
  padding: 38px;
  height: 20px;
  width: 23px;
}

clear{
  clear:both;
}

h1{ 
  align-content: center;
  height:10vw;
}




}
@media (max-width:695px){
 h1{
   font-size:14px;
  } 
  
 }

@media (max-width:650px){
logo{
  margin-left: 550px;
}
}

@media(max-width:300px){
  nav{
    width:650px;
  }
  }

header{
  background-color:darkblue;
  color:white;
  height:9vw;
  width:79vw;
  margin-right:100px;
  margin-left:100px;
  text-transform:uppercase;
  text-align:center;
}
.container{
margin:20px;
border:1px solid black;
padding:20px;
}



article{
background-color:rgba(0, 0, 0, 0.815);
width:60vw;
margin: 0 auto;
color:white;
padding-bottom: 69px;


}

nav{
  float:left;
  width:17vw;
  background-color:darkblue;
  color:white;  
  border-radius: 5px 0px 0px 0px;
  border-bottom: 10px solid white;
  text-decoration: none;
  padding: 5px 10px;
  position: relative;
  top: 1px;
 
}

nav li a{
  position:relative;
  transition: all 1000ms ease;
  left:0px;
}

nav li:hover a{
  color:green;
  left:15px;
}


footer{
background-color:darkblue;
color:white;
position:fixed;
bottom:0px;
width:100%;
height: 50px;
text-align: center;}

li{
}

a{
  color:red;}

  p1{

  }
